<div class="px-20">
<h4 class="">{{title}}</h4>
<li>
    post id:{{id}}
    <br>
    {{user.username}} says: {{body}}
    <br>
    posted at: {{format_date createdAt}}
    {{#each comments as |comment|}}
    <br>
    {{comment.user.username}} comments: {{comment.body}}
    {{/each}}
<br>
<a data-postId="{{id}}" href="/dashboard/edit/{{id}}" class="">edit post</a>
<br>
<button data-postId="{{id}}" class="delete-post-button border-solid border-2 rounded-md border-slate-200 bg-slate-800 hover:border-t-4">delete post</button>
</li>
</div>
