<div class="text-navy px-20 pt-6 w-11/12">
<h4 class="text-2xl">{{title}}</h4>
<div>
    {{!-- <div class="">post id:{{id}}</div>  --}}
      says: {{body}}
    <div>posted at: {{format_date createdAt}}</div> 
    {{#each comments as |comment|}}
    <br>
    {{comment.user.username}} comments: {{comment.body}}
    {{/each}}
<br>
<a data-postId="{{id}}" href="/dashboard/edit/{{id}}" class="">edit post</a>
<br>
<button data-postId="{{id}}" class="delete-post-button border-solid border-2 rounded-md border-slate-200 bg-slate-800 hover:border-t-4">delete post</button>
</div>
</div>
