<div class="border-solid border-2 rounded-md border-slate-200 w-1/4">
<h4>{{title}}</h4>
<li>
    {{user.username}} says: {{body}}
    <br>
        posted at: {{format_date createdAt}}
    <p>------------------------------------</p>
    {{#each comments as |comment|}}
    <br>
    {{comment.user.username}} comments: {{comment.body}}
    {{/each}}
<br>
<a href="/dashboard/comment/{{id}}">write a comment</a>
</li>
</div>