<h2>{{singlePost.title}}</h2>
<br>
<p>{{singlePost.body}}</p>
<br>
<p>created by {{singlePost.user.username}}</p>
{{#each singlePost.comments as |comment|}}
    <p>{{comment.user.username}} comments: {{comment.body}}</p>
{{/each}}