
{{!-- TODO - write the template to show all the user's posts on the /dashboard route --}}
{{!-- <h1>This is the dashboard main page that should display all of a users posts</h1> --}}
<h3>your posts</h3>
{{#each userPosts as |post|}}
<h4>{{post.title}}</h4>
<li>
    post id:{{post.id}}
    <br>
    {{post.user.username}} says: {{post.body}}
    {{#each post.comments as |comment|}}
    <br>
    {{comment.user.username}} comments: {{comment.body}}
    {{/each}}
<button data-postId="{{post.id}}" class="delete-post-button">delete post</button>
</li>
{{/each}}

<a href="/dashboard/new">new post 2</a>
<script src="/js/deletePost.js"></script>
