<h2>{{singlePost.title}}</h2>
<br>
<p>{{singlePost.body}}</p>
<br>
<p>created by {{singlePost.user.username}}</p>
{{#each singlePost.comments as |comment|}}
    <p>{{comment.user.username}} comments: {{comment.body}}</p>
{{/each}}

<form class="form new-comment-form" data="{{singlePost.id}}">
  <div class="form-group">
    <label for="new-comment-body">new comment</label>
    <textarea class="form-input" id="new-comment-body" name="new-comment-body"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary comment-button" data-postId="{{post.id}}">submit comment</button>
  </div>
</form>
</li>

<script src="/js/createComment.js"></script>